{% extends 'base.html.twig' %}

{% block title %}Planify{% endblock %}

{% block body %}
<style>
    h1{
        color: #318ce7;
    }
</style>

<div class="container py-5">
    <h1 class="text-center">Planify</h1>

    <p class="text-center py-2">
        Transformer chaque instant en une expérience mémorable pour vous créez des souvenirs inoubliables
    </p>
</div>
{% endblock %}
