{% extends 'base.html.twig' %}

{% block title %}Recherche{% endblock %}

{% block body %}
<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            {{ form(form_search) }}
        </div>
    </div>
    <div class="row">
        {% for events in events %}
            <p class="text-center">{{ events.titre }}</p>
        {% else %}
            <p class="text-center">Aucun résultat</p>
        {% endfor %}
    </div>
</div>
{% endblock %}